* {
	box-sizing: border-box;
	
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
	background-color: #eee;
}

.slider{
	width: 640px;
	height: 426px;
	background: url(/img/3.3.jpg);
	background: url(/img/2.2.jpg);
	background: url(/img/4.4.jpg);
	background: url(/img/1.1.jpg);
	margin: 100px auto; 
	animation: slide 20s infinite; 
	border-radius: 15px;
}

@keyframes slide{
20%{
	background: url(/img/1.1.jpg);
}
40%{
	background: url(/img/3.3.jpg);
}
60%{
	background: url(/img/2.2.jpg);
}
80%{
	background: url(/img/4.4.jpg);
}
100%{
	background: url(/img/1.1.jpg);
}
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

}

a {
	color: #34495e;
}

a {
	text-decoration: none;
}

.logo {
	margin: 0;
	font-size: 50px;
	text-align: center;
}

.text {
	margin-top: 5px;
	
}

.text a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.text a {
    color: #34495e;
    font-size: 20px;
	flex-direction: row-reverse;
}

.text a:hover {
	color: #718daa;
}

.box{
	width:60%;
	height:200px;
	background:#FFF;
	margin:60px auto; /* auto- държи текста в средата*/
	border-radius: 25px;
}
.content{
	text-align: center;
	padding: 25px;
	letter-spacing: 2px;
	color: rgb(189, 39, 39);
	padding-bottom: 1px;
	font-size: 14px;
 
}
.header {
	padding-top: .5em;
	padding-bottom: .5em;
	border: 1px solid #a2a2a2;
	background-color: #4f97a3;
	border-radius: 25px;
}

/* Media Queries */

@media (min-width: 1024px) {
	.text {
		display: flex;
		
	}
	.header {
		flex-direction: row;
		align-items: center
	}
	
	}
	


@media (max-width: 1024px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}
	
}





