.banner img {
    width: 100% ;
    height: 66.8vh;
    position: absolute;
    
}
body{
    margin: 0%;
}
.logo img{
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: relative;
    top: 400px;
    z-index:1;
}
h1 {
color: black;
text-align: center;
}


    


  
  